Createataskbasedonaformapplication_20220628224958/Microsoft.Flow/flows/660667f9-dd87-496d-abfa-e77ff5776878/definition.json
{"name":"0aa16de8-86d8-4a00-a257-5641e880bb73","id":"/providers/Microsoft.Flow/flows/0aa16de8-86d8-4a00-a257-5641e880bb73","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Create a Planner task when a Microsoft Forms is submitted","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"d64fb0a5-80e7-422c-b4f3-5101ab942322","type":"User","tenantId":"f50e076b-86a5-45f3-87b0-3f4d0ec5e94e"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-28T22:48:16.6261895Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"},"operationMetadataId":"0bfacd7c-35ed-4f2e-a3da-8f7327355e29"},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftforms']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus-01.azure-apim.net/apim/microsoftforms"}},"body":{"eventType":"responseAdded","notificationUrl":"@{listCallbackUrl()}","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('awcO9aWG80WHsD9NDsXpTqWwT9bngCxCtPNRAauUIyJUQUkyVU1ETlo0N1Y1WVJBWElBV0hPUVAxRC4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"},"operationMetadataId":"7b3294c1-a00b-4375-b8d7-bd1c70e1b64d"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftforms']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus-01.azure-apim.net/apim/microsoftforms"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('awcO9aWG80WHsD9NDsXpTqWwT9bngCxCtPNRAauUIyJUQUkyVU1ETlo0N1Y1WVJBWElBV0hPUVAxRC4u')}')/responses","queries":{"response_id":"@triggerBody()?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Create_a_task":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateTask"},"operationMetadataId":"2e8f152a-5f2b-4783-84b0-96c80c0a2858"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_planner']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/planner"}},"method":"post","body":{"planId":"Fl4ZwF85iU-hZLeVNsMTw2QAG-fG","title":"Onboarding request for @{body('Get_response_details')?['rb095d9a8bc4d4450a209fdafe6597441']}","bucketId":"dls408WHQUSmlddFwNvZ1WQAKPIk","startDateTime":"@{utcNow()}","assignments":"ojonah@cnm.edu"},"headers":{"prefer":" return=representation"},"path":"/beta/planner/tasks","authentication":"@parameters('$authentication')"}},"Send_me_a_success_email":{"runAfter":{"Update_task_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailNotification"},"operationMetadataId":"fef94620-9c78-4b99-af79-08228a2f7f4d"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_flowpush']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/flowpush"}},"method":"post","body":{"notificationSubject":"Planner Task - @{body('Create_a_task')?['title']}","notificationBody":"New Planner task iscreated on Mcrosoft Forms submission.\nTask Name: @{body('Create_a_task')?['title']}\nDescription:  \nStart Time: @{body('Create_a_task')?['startDateTime']}"},"path":"/sendEmailNotification","authentication":"@parameters('$authentication')"}},"Send_me_a_failure_email":{"runAfter":{"Update_task_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailNotification"},"operationMetadataId":"98ce9bd5-700a-42ee-9634-4df5074f4487"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_flowpush']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus2-01.azure-apim.net/apim/flowpush"}},"method":"post","body":{"notificationSubject":"Planner task failed","notificationBody":"New task creation on Planner on Microsoft Forms submission has failed."},"path":"/sendEmailNotification","authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)":{"runAfter":{"Send_me_a_success_email":["Succeeded"]},"metadata":{"operationMetadataId":"7b8e843f-b6d4-4179-b92c-5dce39300663","flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sendmail']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-northcentralus-01.azure-apim.net/apim/sendmail"}},"method":"post","body":{"to":"aruiz60@cnm.edu;jmunoz52@cnm.edu;","subject":"Planner Task - @{body('Create_a_task')?['title']}","text":"<p>New Planner task iscreated on Mcrosoft Forms submission.<br>\nTask Name: @{body('Create_a_task')?['title']}<br>\nDescription: &nbsp;<br>\nStart Time: @{body('Create_a_task')?['startDateTime']}</p>","ishtml":true},"path":"/v3/mail/send","authentication":"@parameters('$authentication')"}},"Update_task_details":{"runAfter":{"Select":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"UpdateTaskDetails_V2"},"operationMetadataId":"7f4adb51-2c31-4734-b22d-2c86024b1164"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_planner_1']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-eastus-01.azure-apim.net/apim/planner"}},"method":"patch","body":{"description":"@{body('Get_response_details')?['rb095d9a8bc4d4450a209fdafe6597441']} (@{body('Get_response_details')?['r34351a104aa94e9a972ba283e0cdedd4']}) needs the following software access","checklist":"@body('Select')"},"headers":{"prefer":" return=representation"},"path":"/v1.0/planner/tasks/@{encodeURIComponent(body('Create_a_task')?['id'])}/details","authentication":"@parameters('$authentication')"}},"Select":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"ca7da451-a227-4cc3-8fe8-7187ec9d022e"},"type":"Select","inputs":{"from":"@json(body('Get_response_details')?['r399f77acd1d94e0db44754d2dc0eed8c'])","select":{"id":"@guid()","title":"@item()","isChecked":"false"}}},"Initialize_variable":{"runAfter":{"Create_a_task":["Succeeded"]},"metadata":{"operationMetadataId":"45ff0239-cd60-40e5-ade6-04c87bc2acd1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCount","type":"integer","value":0}]}},"Compose":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f5ae8c2e-5d56-408e-8915-a4d36895deb2"},"type":"Compose","inputs":"@add(variables('varCount'),1)"}},"outputs":{},"description":"When a response is submitted using Microsoft Forms, create a Planner task, update the task description and send an email notification."},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-20eb79c3-bcb8-482f-aee2-8efb-db2008ba","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_planner":{"connectionName":"shared-planner-5f7ec139-5fae-49ce-98c7-d7ea2d7fdfea","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified"},"shared_flowpush":{"connectionName":"shared-flowpush-47f4c9c4-f0e0-478d-bb71-67d7-057b9fd9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_flowpush","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"shared-sendmail-ac295535-e405-44f2-8d94-a280-411370d3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"},"shared_planner_1":{"connectionName":"shared-planner-c9f29100-7e52-4259-b539-946d4e531a21","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}